.contenedor{
  place-items: center;
  height: 100vh;
  background-image: url("img/ImgInicioSesionUsiarioInterno.jpg");
  background-repeat: no-repeat;
  background-size: cover; 

 
} 

.card-form-container{
  width: 870px;
  height: 470px;

}

.card-form-btn{
  display: flex;
}

.card-form-body{
  border: 3px solid #0E09F9;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.82);
  border-radius: 21px;
}


.info-card-container{
  display: flex;
  justify-content: center;
}

.info-card{
  background: #D0D0FD;
  width: 750px;
  height: 150px;
  border-radius: 8px;
  padding: 10px;
}

.form-input{
  width: 750px;
  display: block;
  text-align: center;
  margin-top: 40px;
}

.form-input-item{
  display: flex;
  justify-content: center;
}

.form-control {
  background: linear-gradient(180deg, rgba(11, 6, 252, 0.5) 0%, rgba(14, 9, 249, 0.135417) 72.92%, rgba(14, 9, 249, 0.416667) 99.98%, rgba(14, 9, 249, 0.015625) 99.99%, rgba(14, 9, 249, 0) 100%);
  border-radius: 11px;
}

.form img{
  width: 100px;
  }

.btn-default{
  width: 262px;
  height: 41px;
  left: 327px;
  top: 460px;
  box-sizing: content-box!important;
  background-color: #0E09F9!important;
  color: hsl(0, 0%, 99%) !important;
  border-radius: 15px !important;

}

  h2 {
    font-style: normal;
    text-align: center;
    font-style: bold;
    color: #2113e9;
    font-size: 30px;
  }

  h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    color: #131ACB;
  }
  
  h6 {
    width: 787px;
    height: 170px;
    left: 247px;
    top: 565px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #898282;
    
  }
