#regresar-btn {
    width: 195px;
    border-radius: 29px;
    color: white;
    background-color: #E97474;
}
.texto-strong-blue {
    color: #2F8FFF;
}

#btn-registrarPQyR {
    color: white;
    background-color: #599FF1;
}

#th-color-blue {
    background-color: #599FF1;
}

#th-color-red {
    background-color: #E53838;
}
