.btn-UI {
    max-width: 100;
    max-height: 300;
    background: linear-gradient(180deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
    border-radius: 6px;


}

.bg-color {
    background: #0E2654 !important;
    color: white !important;
    font-weight: bolder !important;
}

.cuarto-circulo {
    width: 150px;
    height: 150px;
    margin-left: 1200px;
    /* border: 2px solid #555; */
    background-image: url(./img/ImgFondoBancas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -moz-border-radius: 100% 0 0 0;
    -webkit-border-radius: 100% 0 0 0;
    border-radius: 100% 0 0 0;

}

#yin-yang {
    width: 96px;
    box-sizing: content-box;
    height: 48px;
    background: #eee;
    border-color: red;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;
}

#yin-yang:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #eee;
    border: 18px solid red;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
}

#yin-yang:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: red;
    border: 18px solid #eee;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
}