<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 21f54e3587b356e3df6fd93df94fece5d4ba3b35
.bg-color {
  background: #0E2654 !important;
  color: white !important;
  font-weight: bolder !important;
<<<<<<< HEAD
}

.bg-color-footer {
  background: #0E2654 !important;
  color: white !important;

}


.img-fondo {
  background-image: url(./assets/fondo2.jpg);
}
=======
.App {
  text-align: center;
=======
>>>>>>> 21f54e3587b356e3df6fd93df94fece5d4ba3b35
}

.bg-color-footer {
  background: #0E2654 !important;
  color: white !important;

}


<<<<<<< HEAD
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
>>>>>>> jhon
=======
.img-fondo {
  background-image: url(./assets/fondo2.jpg);
}
>>>>>>> 21f54e3587b356e3df6fd93df94fece5d4ba3b35
