.bg-color {
  background: #0E2654 !important;
  color: white !important;
  font-weight: bolder !important;
}

.bg-color-footer {
  background: #0E2654 !important;
  color: white !important;

}


.img-fondo {
  background-image: url(./assets/fondo2.jpg);
}


.bg-color-footer {
  background: #0E2654 !important;
  color: white !important;

}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.img-fondo {
  background-image: url(./assets/fondo2.jpg);
}